<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://localhost:8081/repository/foo-maven-group/</url>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>foo-maven-hosted</id>
      <username>dev</username>
      <password>dev</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>nexus</id>
      <activation>
        <activeByDefault>true</activeByDefault> 
      </activation>
      <repositories>
        <repository>
          <id>nexus-public</id>
          <url>http://localhost:8081/repository/foo-maven-group/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots>
            <enabled>true</enabled>
	          <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>nexus-public</id>
          <url>http://localhost:8081/repository/foo-maven-group/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>